.head{
    color: rgb(155, 52, 52);
    background-image: url("https://thumbs.dreamstime.com/b/incredibly-beautiful-sunset-sun-lake-sunrise-landscape-panorama-nature-sky-amazing-colorful-clouds-fantasy-design-115177001.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: aqua;
     
}
.sec1{
    color: rgb(19, 6, 6);
}
.container{
    background-color: antiquewhite;
    height: 100px;
    font-weight: 100px;
    width: 100vw;
}
nav{
    background-color: rgb(181, 33, 33);
    height: 100px;
    font-size: 30px;
}

    


