.head{
    color: rgb(34, 28, 28);
    background-image: url("https://thumbs.dreamstime.com/b/incredibly-beautiful-sunset-sun-lake-sunrise-landscape-panorama-nature-sky-amazing-colorful-clouds-fantasy-design-115177001.jpg");
    height: 100vh;
    background-repeat: no-repeat;
}
.sec1{
    color: rgb(19, 6, 6);
}